@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Roboto;
}
#header-secundario {
    background-color: #1CD1B0;
    height: auto;
    font-size: 15px;
    padding: 10px;

}

#header-primario {
    background-color: #00669f;
    font-size: 40px;
    padding: 28px;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    margin-bottom: 150px;
}
footer {
    background-color: #00669f;
    font-size: 16px;
    padding: 16px;
    color: white
}
footer img{
    width: 248.11px;
    height: 67.36px;
}
.banner-tarjeta {
    height: 190px;
}

.tarjeta {
    position: relative;
    width: 300px;
    margin: 0px 32px 150px;
}

.boton-personalizado {
    color: white;
    background-color: #00669F;
    padding: 15px 37px;
    font-size: 15px;
    border:none;
    cursor: pointer;
    margin-bottom: 19px;
}

h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    padding-top: 74px;
}

.imagen-perfil {
    position: absolute;
    left: 90px;
    top: 128px;
}

.informacion {
    background-color: #F3F3F3;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.informacion img {
    border-radius: 50%;
}

.informacion p {
    padding: 16px 16px 37px 16px
}

.corazon {
    position: absolute;
    left: 20px;
    top: 16px
}

main{
    display: flex;
    justify-content: center;
}


/* // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... } */
    



