@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: Roboto;
    background-color: #E5E5E5;
}

* {
    margin: 0px;
    padding: 0px;
}
header {
    background-color: #222222;
    display: flex;
    color:white;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}
header li {
    padding: 0px 13px 0px 0px;
}


a{
    color: white;
    text-decoration: none;
}

footer {
    display: flex;
    background-color: #222222;
    justify-content: space-between;
    align-items: center
    
}

footer li {
    padding: 0px 0px 13px 0px;
}

footer ul {
    list-style-type: none;
    padding: 20px 0px 0px 20px;
}
footer img {
    padding: 0px 42px 0px 0px;
}

.titulo-principal {
    position: absolute;
    /* font-size: 24px; */
    font-weight: 700;
    color: red;
    top: 155px;
    left: 38.98px;
}
.titulo-principal samp {
    color: white;

}
main {
    display: flex;
    margin: 35px 19px;
    justify-content: space-between;
}

.podio {
    background-color: #FFFFFF;
    width: 490px;
    height: 350px
}

h2{
    text-align: center;
    color: red;
    padding: 26px 0px 58px 0px;
}
.tipos-de-pizzas{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px 0px 0px;
}

.tipos-de-pizzas ol {
    padding: 0px 0px 0px 50px;
    font-weight: bold;
}

.tipos-de-pizzas img{
    padding: 0px 74px 0px 0px;
}

h3{
    padding-left: 50px;
}


